@font-face {
    font-family: "octicons";
    font-style: normal;
    font-weight: normal;
    src: url("/public/fonts/octicons.woff") format("woff");
}
body {
    background: none repeat scroll 0 0 #F2F5F8;
    font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
}
.modal.fade {
    transition: all 0.1s ease-out 0s;
}
.modal.fade.in {
    opacity: 1;
}
.no-padding {
    padding: 0;
}

.banner {
    padding: 15px;
    margin-bottom: 1em;
}
.list-group-item {
    transition: background 0.13s linear 0s;
}
.ajax-loader {
    display: block;
    margin: 10px auto;
    width: 128px;
}
#wrapper {
    position: relative;
    margin: 0 auto;
    min-height: 900px;
}
#sidebar {
    background: none repeat scroll 0 0 #2A313A;
    border-right: 1px solid #3C434D;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 230px;
}
#sidebar section {
    margin-bottom: 35px;
}
#sidebar section h3 {
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 23px;
    text-shadow: 1px 1px #000000;
    text-transform: uppercase;
}
#sidebar section.projects > div {
    margin-top: 10px;
}
#sidebar section.projects ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 15px;
    padding-left: 0;
}
#sidebar section.projects ul li {
    margin: 3px 0;
}
#sidebar section.projects a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ECF6FF;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding: 7px 10px 9px 23px;
    text-decoration: none;
    transition: background 0.13s linear 0s;
    width: 100%;
}
#sidebar section.projects a i {
    margin-right: 10px;
}
#sidebar section.projects ul li a {
    padding-left: 53px;
}
#sidebar section.projects a:hover {
    background: none repeat scroll 0 0 #343E4E;
}
#sidebar section a.active {
    background: linear-gradient(#5B6479, #4C5566) repeat scroll 0 0%, none repeat scroll 0 0 #686E78;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.16) inset;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#sidebar footer {
    bottom: 0;
    position: fixed;
    width: 230px;
}
#sidebar footer > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#sidebar footer > ul > li {
    border-right: 1px solid #3E4E55;
    border-top: 1px solid #3E4E55;
    display: block;
    float: left;
    width: 33.33%;
}
#sidebar footer > ul > li > a {
    background: none repeat scroll 0 0 #333D4B;
    color: #ECF6FF;
    display: block;
    padding: 6px 0;
    position: relative;
    text-align: center;
}
#sidebar-user {
    background: linear-gradient(#3D4A5D, #3F4C5C) repeat scroll 0 0%, none repeat scroll 0 0 #686E78;
    color: #FFFFFF;
    height: 63px;
    margin-bottom: 20px;
    padding: 0 20px;
}
#sidebar-user img {
    border-radius: 50%;
    display: inline;
    margin-right: 12px;
    margin-top: 5px;
    width: 51px;
}
#sidebar-user .name {
    color: #F0F5FA;
    font-size: 15px;
    padding: 10px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#sidebar-user .popover-content {
    padding-bottom: 0;
}
#sidebar-user .popover-content ul {
    list-style-type: none;
    padding: 8px 0;
}
#sidebar-user .popover-content ul li {
    border-bottom: 1px solid #E6E6E6;
    padding: 8px 15px;
}
#sidebar-user .popover-content ul a {
    color: #4C5661;
    display: block;
    font-size: 15px;
    padding-left: 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
}
#content {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-left: 230px;
    padding: 0;
    overflow: auto;
}
#content .menubar {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    height: 63px;
}
#content .menubar .page-title {
    border-right: 1px solid #E6E6E6;
    color: #7E7E7E;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding: 20px 30px;
    text-transform: uppercase;
}
#content .menubar .pull-right {
    margin: 20px 30px;
}

#content .content-wrapper {
    padding: 40px;
}

#alert {
    display: inline-block;
    padding: 15px;
    width: 50%;
}

/** Octicons **/
.octicon {
    display: inline-block;
    font: 16px/1 "octicons";
    text-decoration: none;
}
.mega-octicon {
    display: inline-block;
    font: 32px/1 octicons;
    text-decoration: none;
}
.octicon-organization:before {
    content: "\f037";
}
.octicon-question:before {
    content: "\f02c";
}
.octicon-repo:before {
    content: "\f001";
}
.octicon-tag:before {
    content: "\f015";
}
.octicon-tools:before {
    content: "\f031";
}
.octicon-signout:before {
    content: "\f032";
}

/** Organization modal **/
#add-organization .modal-body .list-group-item img {
    width: 35px;
}
